<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Verseny részletek</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Verseny eredmények</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <!-- <th>Helyezés</th> -->
      <th>Versenyző neve</th>
      <th>Versenyző ideje percben</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
      <td th:text="${product.productName}"></td>
      <td th:text="${product.price}"></td>
    </tr>
    </tbody>
  </table>

  <!-- Back Button -->
  <a href="/baskets" class="btn btn-info">Vissza a versenyek listájához.</a>
</div>
</body>
</html>
