<head>
  <meta charset="UTF-8">
  <title>Minden verseny</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Minden verseny</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Neve</th>
      <!-- <th>Távolsága</th> -->
      <th>Részletek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="basket : ${baskets}">
      <td th:text="${basket.basketId}"></td>
      <td th:text="${basket.basketName}"></td>
      <!-- <td th:text="${basket.versenyDistance}"></td> -->
      <td>
        <a th:href="@{/basket/{id}(id=${basket.basketId})}" class="btn btn-primary">Eredmények</a>
      </td>
    </tr>
    </tbody>
  </table>

  <form action="/createBasket" method="post">
    <div class="form-group">
      <label for="basketName">Új verseny létrehozása:</label>
      <input type="text" class="form-control" id="basketName" name="name" placeholder="Írd be ide az új verseny nevét.">
    </div>
    <button type="submit" class="btn btn-success">Verseny létrehozása</button>
  </form>
</div>
</body>
</html>
