<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verseny eredmenyek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Eredmenyek</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eredmeny : ${eredmenyek}">
            <td th:text="${eredmeny.name}"></td>
            <td th:text="${eredmeny.price}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Back Button -->
    <a href="/baskets" class="btn btn-info">Back to Baskets</a>
</div>
</body>
</html>