<head>
    <meta charset="UTF-8">
    <title>Versenyek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Versenyek</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Azonosító</th>
            <th>Verseny Neve</th>
            <th>Táv</th>
            <th>Eredmények</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="verseny : ${versenyek}">
            <td th:text="${verseny.versenyId}"></td>
            <td th:text="${verseny.versenyName}"></td>
            <td th:text="${verseny.distance}"></td>
            <td>
                <a th:href="@{/verseny/{id}(id=${verseny.versenyId})}" class="btn btn-primary">Részletek</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form action="/createVerseny" method="post">
        <div class="form-group">

            <label for="versenyName" style="font-size: 18px; font-weight: bold;">Új verseny létrehozása:</label>
            <br>
            <label for="versenyName">Neve:</label>
            <input type="text" class="form-control" id="versenyName" name="name" placeholder="Írd be a verseny nevét">
            <label for="distance">Távolsága:</label>
            <input type="text" class="form-control" id="distance" name="distance" placeholder="Ird be a távot">
        </div>
        <button type="submit" class="btn btn-success">Verseny létrehozása</button>
    </form>
</div>
</body>
</html>