<head>
    <meta charset="UTF-8">
    <title>Versenyek</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Versenyek</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Azonosító</th>
            <th>Név</th>
            <!-- <th>Táv</th> -->
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="verseny : ${versenyek}">
            <td th:text="${verseny.versenyId}"></td>
            <td th:text="${verseny.versenyName}"></td>
            <!-- <td th:text="${verseny.tav}"></td> -->
            <td>
                <a th:href="@{/verseny/{id}(id=${verseny.id})}" class="btn btn-primary">Részletek</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form action="/createVerseny" method="post">
        <div class="form-group">
            <label for="versenyName">Verseny Name:</label>
            <input type="text" class="form-control" id="versenyName" name="name" placeholder="Ird be a verseny nevet">
        </div>
        <button type="submit" class="btn btn-success">Create Verseny</button>
    </form>
</div>
</body>
</html>